{% extends 'admin.html.twig' %}

{% block title %}Nouvelle page{% endblock %}

{% block content %}
    <h1>Créer un nouvelle page</h1>

    {{ include('page/_form.html.twig') }}

    <a href="{{ path('page_index') }}">Retour à la liste</a>
{% endblock %}
