{% extends 'admin.html.twig' %}

{% block title %}Nouvel évenement{% endblock %}

{% block content %}
    <h1>Créer un nouvel évenement</h1>

    {{ include('event/_form.html.twig') }}

    <a href="{{ path('event_index') }}">Retour à la liste</a>
{% endblock %}
