<form method="post" action="{{ path('link_delete', {'id': link.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce lien?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ link.id) }}">
    <button class="btn">Supprimer</button>
</form>
