{% extends 'base.html.twig' %}

{% block title %}Nouveau lien{% endblock %}

{% block body %}
    <h1>Créer un nouveau lien</h1>

    {{ include('link/_form.html.twig') }}

    <a href="{{ path('link_index') }}">Retour à la liste</a>
{% endblock %}
