{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block menutop %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col">
                <div class="intro2">
                    <div class="intro2-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper" style="font-size: 2rem">Formulaire de contact</span>
                            <h2 class="section-heading mb-5">
                                <span class="section-heading-upper">Un commentaire, une question, contactez-nous!</span>
                            </h2>
                            <form action="" method="post">
                                <div class="form-group">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="genre" id="genre" value="option1">
                                        <label class="form-check-label" for="inlineCheckbox1">Madame</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="genre" id="genre" value="option2">
                                        <label class="form-check-label" for="inlineCheckbox2">Monsieur</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Nom">
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Prénom">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="nom@exemple.fr">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Votre message"></textarea>
                                </div>
                                <div class="button">
                                    <button type="submit" class="btn btn-primary btn-xl" action="actualite.php">Envoyer</button>
                                </div>
                            </form>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}