{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block menutop %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="col-7">
        <section>
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{asset('build/images/quatre.jpg')}}">
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Dernière actualité</span>
                            <span class="section-heading-lower">Nouveau bonsaï</span>
                        </h2>
                        <p class="mb-3">Voici le tout dernier bonsaï de l'association réalisé par un nouveau menbre du club. Pas mal .. non !!! ...</p>
                        <div class="intro-button mx-auto">
                            <a class="btn btn-primary btn-xl" href="public/actualite.php">Lire la suite!</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-5">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Ideo urbs </span>
                                <span class="section-heading-lower">Ideo urbs </span>
                            </h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ea in, libero minus odio quae
                                quas quidem reprehenderit similique voluptates!</p>
                            <p>Adipisci aspernatur eos et eum fuga ipsa nemo neque nobis recusandae sunt! Excepturi fuga
                                inventore laudantium perspiciatis? Atque, ipsam minus.</p>
                            <p class="mb-0">Ideo urbs testet post superbas efferatarum gentium cervices oppressas latasque leges fundamenta libertatis et retinacula sempiterna velut frugi parens et prudens et dives Caesaribus tamquam liberis suis regenda patrimonii iura permisit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}