{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block menutop %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="col-7">
        <section>
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{asset('build/images/quatre.jpg')}}">
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Dernière actualité</span>
                            <span class="section-heading-lower">Nouveau bonsaï</span>
                        </h2>
                        <p class="mb-3">Voici le tout dernier bonsaï de l'association réalisé par un nouveau menbre du club. Pas mal .. non !!! ...</p>
                        <div class="intro-button mx-auto">
                            <a class="btn btn-primary btn-xl" href="public/actualite.php">Lire la suite!</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-5">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-lower">Bienvenue </span>
                            </h2>
                            <p>Notre association Landaise est heureuse de vous accueil deux fois par mois pour partager notre passion du bonsaï.</p>
                            <p>Nous sommes situé  à la Maison Joelle  Vincens rue Martin Luther King à Mont de Marsan;</p>
                            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{asset('build/images/Map.jpg')}}">
                            <p>Pour nous contacter veuillez remplir le formulaire de contact en bas de cette page.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}