<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% for page in pages %}
            <li class="nav-item active">
                <a class="text-uppercase text-expanded" href="/public/{{ page.slug }}">{{ page.titre }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
